SUPABASE_URL=
SUPABASE_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
GEMINI_MODEL=gemini-3.6-flash
GROQ_MODEL=openai/gpt-oss-20b
APIFY_TOKEN=
APIFY_2GIS_ACTOR=getascraper/2gis-reviews-scraper
APIFY_INSTAGRAM_ACTOR=apify/instagram-comment-scraper
APIFY_INSTAGRAM_POSTS_ACTOR=apify/instagram-scraper
APIFY_FACEBOOK_ACTOR=unseenuser/fb-posts
GRATA_2GIS_FIRM_ID=9429940000842633
